/* p {
  background-color: rebeccapurple;
}

li {
  background-color: yellowgreen;
}

li:nth-of-type(2n) {
  background-color: olive;
}

li:nth-of-type(2n):hover {
  background-color: orangered;
} */

body {
  background-color: #28ffbe;
}

h1 {
  background-color: hsl(254, 95%, 57%);
  text-align: center;
  font-weight: 100;
  color: hsla(434, 95%, 57%, 0.9);
  letter-spacing: 10px;
}

p {
  font-weight: bold;
  line-height: 2;
  word-spacing: 8px;
}
