@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

html {
  font-size: 1vw;
  /* font-family: IBM Plex Sans; */
}

body {
  /* background: linear-gradient(cyan, magenta); */
  background: linear-gradient(90deg, rgba(34,36,0,1) 0%, rgba(115,9,121,1) 35%, rgba(0,239,255,1) 100%);
}

h1 {
  font-size: 6rem;
  font-family: 'Nosifer', cursive;
  text-align: center;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

section {
  font-size: 0.5rem;
  /* font-family: Brush script MT; */
}

h2 {
  font-size: 3rem;
  text-decoration: red overline dotted;
  /* font-family: 'Nosifer', cursive; */
}

a {
  text-decoration: none;
}

h3 {
  text-transform: capitalize;
  color: hsla(0, 100%, 50%, 0.9);
  text-shadow: 5px 5px hsla(180, 100%, 50%, 0.5), 3px 3px hsla(60, 100%, 50%, 0.5);
  /* text-shadow: 5px 5px 5px magenta; */
  font-size: 50px;
}
