/* h1 {
  box-sizing: content-box;
  width: 100px;
  padding: 1em;
  border: solid 5px black;
}

h1:hover {
  outline: solid 5px red;
  outline-offset: 5px;
} */
#box {
  width: 200px;
  height: 200px;
  background-color: yellow;
  border-radius: 50%;
  border: 5px solid teal;
}

img {
  max-width: 300px;
  width: 40%;
  border: 10px solid #c71585;
  border-left-width: 5px;
}

h1 {
  background-color: lavender;
  font-size: 100px;
  width: 50%;
  border-bottom: 10px solid #c71585;
}

h2 {
  background-color: lightpink;
  width: 50%;
}

p {
  width: 50%;
  min-width: 50%;
}
