* {
  box-sizing: border-box;
}

#box {
  width: 200px;
  height: 200px;
  background-color: yellow;
  border-radius: 50%;
  border: 5px solid teal;
}

img {
  max-width: 300px;
  width: 40%;
  border: 10px solid #c71585;
  border-left-width: 5px;
  border-radius: 30%;
  margin: 0 1rem;
}

h1 {
  background-color: lavender;
  font-size: 100px;
  width: 50%;
  border-bottom: 10px solid #c71585;
  margin: 1rem auto;
}

h2 {
  background-color: lightpink;
  width: 50%;
}

section {
  width: 300px;
  border: 2px solid black;
  padding: 1rem;
}

button {
  background-color: orangered;
  font-size: 2rem;
  border-radius: 10px;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

p {
  width: 50%;
  min-width: 50%;
}

#container {
  border: 2px solid black;
  width: 400px;
  margin: 0 auto;
}

#container .item {
  height: 100px;
  border: 1px solid orangered;
  margin: 1rem;
  padding: 1rem;
  /* text-align: center; */
}

#container .item:hover {
  border: 10px solid teal;
}

#container .item:nth-last-of-type(2) {
  margin-left: 3rem;
  margin-bottom: 4rem;
}

p a {
  background-color: magenta;
  padding: 0.4rem;
  border-radius: 10px;
  text-decoration: none;
  color: mistyrose;
  cursor: pointer;
  font-size: 18px;
}