
#box {
  width: 200px;
  height: 200px;
  background-color: yellow;
  border-radius: 50%;
  border: 5px solid teal;
}

img {
  max-width: 300px;
  width: 40%;
  border: 10px solid #c71585;
  border-left-width: 5px;
}

h1 {
  background-color: lavender;
  font-size: 100px;
  width: 50%;
  border-bottom: 10px solid #c71585;
}

h2 {
  background-color: lightpink;
  width: 50%;
}

section {
  width: 300px;
  border: 2px solid black;
  padding: 1rem;
}

button {
  background-color: orangered;
  font-size: 2rem;
  border-radius: 10px;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

p {
  width: 50%;
  min-width: 50%;
}
