@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: #d0cfcf;
  font-size: 16px;
}

h1 {
  text-shadow: 1px 1px 2px red, 0 0 0.2em yellow, 0 0 0.2em blue;
  font-size: 9rem;
}

p {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  text-transform: capitalize;
}

section {
  font-size: 1.5em;
}
